/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* .cardHighlight{
  min-height: 100%;
}

.cardTitle{
  margin: 0;
  padding: 0;
}
.cardBody{
  margin: 0;
  padding: 0;
} */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 20px 1px 10px;

  background: #05021a;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  /* background-color: transparent; */
}

.rightNav {
  display: flex;
}

.font {
  font-size: large;
  color: white;
  font-weight: 500;
  align-items: center;
  /* justify-content: space-between; */
  padding: 1px 20px 1px 80px;
}

.navIcons {
  align-items: center;
  padding: 1px 20px 1px 10px;
}

.bgImage {
  height: 100vh;
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.hero {
  background-image: url("images/3.png");
  height: 91.6vh;
  width: 100%;


  background-position: top 25% right 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 1px 20px 1px 10px;
}

.readyH1 {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
  color: white;
  font-size: 8vh;
}

.btnViewShop {
  padding: 10px 80px 10px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 1);

}

.logoIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 20px 1px 10px;
  font-size: large;
  color: white;

  /* background: white; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  padding: 1px 20px 1px 80px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px 1px 20px;
  /* flex-direction: row; */
}


/* -----------HOVERS------------ */
.navIcons:hover {
  color-scheme: rgba(255, 240, 22, 255);
  transition: 0.7s;
}

.rightNav:hover {
  color: rgba(255, 240, 22, 255);
  transition: 0.7s;
}

.font:hover {
  color: rgba(255, 240, 22, 255);
  transition: 0.7s;
}

/* ---------SELECTIONS--------- */


.font:active {
  color: white;
  background-color: yellow;
}

/* -----------CART---------- */


/* ----------LOGIN---------- */
.main {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
  background-color: rgb(252, 252, 252)
}

.sub-main {
  display: flex;
  justify-content: center;
  height: 450px;
  width: 20%;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding-top: 30px;
  border-radius: 60px;
  background-color: white;
}

.emailInput {
  width: 300px;
  height: 50px;
  border-radius: 60px;
}

.password {
  padding-top: 20px;
}

.passwordInput {

  width: 300px;
  height: 50px;
  border-radius: 60px;
}

.submitBtn {
  margin-top: 50px;
}

.sub-main2 {
  display: flex;
  justify-content: center;
  height: 650px;
  width: 20%;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding-top: 30px;
  border-radius: 60px;
  background-color: white;
}

.submitBtn2 {
  margin-top: 40px;
}

.btnAdd {
  margin-left: 230px;
}